<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Demo</title>

    <!-- 页面的宽度与设备屏幕的宽度一致 -->
    <meta name="viewport" content="width=device-width">
    <!-- 初始缩放比例 1:1,没有横线滚动的效果 -->
    <meta name="viewport" content="initial-scale=1">
    <!-- 禁止用户缩放 -->


    <!-- 引入外部bootstrap的css文件(压缩版) -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- NO.1 先引入jQuery文件(压缩版) -->
    <script src="bootstrap/js/jquery.min.js"></script>
    <!-- NO.2 再引入js文件(压缩版) -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <style>
        div[class*="col-"] {
            border:1px solid blue;
        }
    </style>

</head>
<body style="background-color:gray;">
<!-- 非响应式，会出现堆叠 -->
<div class="container" style="background-color:white;">
    <div class="row">
        <!--
            所有的列要放到行里
            一行最多有12列，超过12的话，就会另起一行
            -->
        <div class="col-md-1">col-md-1</div>
        <div class="col-md-1">col-md-2</div>
        <div class="col-md-1">col-md-3</div>
        <div class="col-md-1">col-md-4</div>
        <div class="col-md-1">col-md-5</div>
        <div class="col-md-1">col-md-6</div>
        <div class="col-md-1">col-md-7</div>
        <div class="col-md-1">col-md-8</div>
        <div class="col-md-1">col-md-9</div>
        <div class="col-md-1">col-md-10</div>
        <div class="col-md-1">col-md-11</div>
        <div class="col-md-1">col-md-12</div>
        <div class="col-md-1">col-md-13</div>
    </div>

    <hr/>

    <div class="row">
        <!--
            一行最多12列
            col-md-4：四列的合并之后的效果
            -->
        <div class="col-md-4">col-md-1/2/3/4</div>
        <div class="col-md-4">col-md-5/6/7/8</div>
        <div class="col-md-4">col-md-9/10/11/12</div>
    </div>

</div>

</body>
</html>